/* -----------------------------------------------
        CSS Styles
--------------------------------------------------

Table of Content

  - Header
    - Img Bacground
    - Main
    - Main 2
    - Main 3
    - Main 4


/* -----------------------------------
    Header
----------------------------------- */

.header-main{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("bacgroyung.png") center no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    justify-content: space-between;
}

.narro{
    width: 75%;
    margin-top: 10px;
}

.size1{
    width: 20%;
}

.size2{
    width: 25%;
}

.logo{
    width: 150%;
    height: auto;
}

.aha{
    width: 85%;
}

.wt{
    width: 100%;
    text-align: center;
    font-family: Poppins;
}

.header-font:hover{
    color: white;
    opacity: 1;
}

.header-font {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    opacity: 0.58;
    color: white;

    font-family: poppins, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 2px;
}

.header-font:hover {
    background:
    linear-gradient(
        rgb(182, 104, 104),
        rgba(0, 0, 0, 0)
    );

    padding: 15px;
    background-size: 35% 3px, 0 5px;
    background-position: 50% 100%, 0 100%;
    background-repeat: no-repeat;
}

.header-font-log {
    text-decoration: none;
    font-size: 18px;
    color: white;
    
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.header-font-log-in {
    text-decoration: none;
    font-size: 18px;
    color: white;
    
    font-family: poppins, sans-serif;
    font-weight: 300;
    font-style: normal;

    border: solid white 1px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    color: white;
}



.header-font-log:hover{
    border: solid white 1px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    color: white;
}

.meet:hover{
    font-size: 17px;
}

/* -----------------------------------
    Img Bacground
----------------------------------- */

.bacground-text{
    width: 770px;
    height: 400px;
    transform: translate(0%, 40%);
}
.tekst{
    font-size: 61px;
    color: white;
    font-family: archivo-black, sans-serif;
    font-weight: 600;
}

.tekst2{
    font-size: 12px;
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 400;
}

.bg-text-color{
    color: #FF5C63;
}

.button-test{
    font-size: 15px;
    color: #FF6F75;
    border: solid #FF5C63 3px;
    letter-spacing: 4px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;


    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    background-color: #ff5c6418;

    filter: drop-shadow(0 0 5px #FF5C63)  contrast(1) brightness(1);
    transition: .5s;
}

.long-arrow-right{
    width: 10px;
    height: 10px;
    border-top: 2px solid #FFA7AB;
    border-left: 2px solid #FFA7AB;
}

.long-arrow-right{
    transform: rotate(135deg);
}

.long-arrow-right::after
{
    content: "";
    display: block;
    width: 2px;
    height: 45px;
    background-color: #FFA7AB;
    transform: rotate(-45deg) translate(15px, 4px);
}

.arrow{
    transform: translate(27%, -350%);
}

.quick-menu{
    background-color: rgb(255, 255, 255);
    border-radius: 0px 25px 0px 0px;

    width: 65%;
    height: 100px;
    margin-right: 35%;
}

.quick-social{
    color: #FF5C63;
    border-radius: 0px 25px 0px 0px;
    width: 10%;
    height: 100px;
    margin-right: 90%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.quick-menu-slid{
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.5;
    font-family: Poppins;
    font-size: 13px;

}

.mrg-left{
    margin-left: 10%;
}

.pst{
    font-size: 12px;
    color: rgb(155, 155, 155);
}

.radi{
    background-color: #FF5C63;
    border-radius: 0px 25px 0px 0px;
    color: white;

    filter: drop-shadow(0 0 15px #ff5c6493)  contrast(1) brightness(1);
    transition: .5s;
}

/* -----------------------------------
    Main
----------------------------------- */

.main{
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;

    justify-content: space-between;
}

.narro-main{
    width: 80%;
    margin-top: 5%;
}

.text-head{
    font-family: poppins, sans-serif;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1;
}

.container-videos{
    margin-top: 5%;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-big{
    background-color: red;
    width: 66%;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.box-sml{
    background-color: rgb(30, 255, 0);
    width: 33%;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-img-1{
    background-image: url("21725.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-img-2{
    background-image: url("230071.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-img-3{
    background-image: url("1553.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-img-4{
    background-image: url("11557.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-tekst{
    font-size: 25px;
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 300;
    line-height: 0.5;
    margin-left: 3vh;
}

.box-tekst-2{
    font-size: 15px;
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 400;
    margin-left: 3vh;
}

/* -----------------------------------
    Main 2
----------------------------------- */

.main-2{
    margin-top: 5%;
    width: 100%;
    height: 100vh;
    padding: 3%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: red;

    background: url("main2.png") center no-repeat;
    background-size: cover;

}

.main-2-text-box{
    display: flex;
    width: 50vh;
    height: 20vh;
    border-radius: 2vh;
    background-color: rgb(238, 238, 238);

    transform: translate(-50%, 100%);

    flex-direction: column;
    justify-content: center;
}

.nav-text{
    font-size: 20px;
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* -----------------------------------
    Main 3
----------------------------------- */

.main-3{
    width: 100%;
    height: 100vh;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url(main-3.png) center no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.boxer{
    width: 65vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.main-3-info-top{
    height: 50%;
    width: 100%;
}

.main-3-info-bot{
    height: 50%;
    width: 100%;
}

.main-3-head{
    font-family: poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1;
    color: white;
}

.main-3-head-2{
    margin-top: 8%;
    font-family: poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 2;
    font-weight: 400;

    color: white;
}

.ssc.logo{
    padding-top: 30px;
    padding-right: 20px;
}

.tekst2-2{
    font-size: 12px;
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 400;
    padding-top: 40px;
}

/* -----------------------------------
    Main 4
----------------------------------- */

.main-4{
    margin-top: 5%;

    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

.toggle {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.toggle-btn {
    margin: 0 1rem;
}
.checkbox {
    display: none;
}

.sub {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
}

.circle {
    background-color: rgb(253, 0, 0);
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    border: solid #AF1018 2px;
    background-image: linear-gradient(to right, #AF1018, #b46f73);
}

.checkbox:checked + .sub {
    justify-content: flex-end;
}

.cards {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background: rgb(170, 14, 14);
    color: hsl(233, 13%, 49%);
    border-radius: 0.8rem;
}

.cards .card.active {
  border-radius: 20px;
  height: 60vh;
  width: 40vh;
  background-color: #FF1E1E;
  color: #fff;
  display: flex;
  align-items: center;
}

.card.shadow {
  border-radius: 20px;
  height: 50vh;
  width: 35vh;
  color: #fff;
  display: flex;
  align-items: center;
  border: solid white 1px;
}

.cards-text{
    margin-top: 6vh;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
}

.zxcv{
    letter-spacing: 0.5vh;
    display: flex;
}

.ribbon{
    background-color: #E35C61;
    width: 5vh;
    height: 6vh;
    position: relative;
    transform: translate(-200%, 0%);
}

.ribbon:before{
    content: "";
    position: absolute;
    bottom: -2.4em;
    left: 0;
    width: 0;
    height: 0;
    border-top: 2.5em solid #E35C61;
    border-right: 2.5em solid transparent;
}
.ribbon:after{
    content: "";
    position: absolute;
    bottom: -2.4em;
    right: 0;
    width: 0;
    height: 0;
    border-top: 2.5em solid #E35C61;
    border-left: 2.5em solid transparent;
}

.cards-box{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.cards-text-price{
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

.cards-text-price2{
    margin-top: -2vh;
    font-size: 12px;
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 300;
    margin-bottom: 5vh;
}

.cards-text-desc{
    font-size: 9px;
    color: white;
    font-family: poppins, sans-serif;
    font-weight: 400;
    margin-left: 20px;
}

.cards-box-desc{
  display: flex;
}

.checkmark {
    margin-top: -1vh;
    display: inline-block;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}


.duo {
    border-bottom: 4px solid #EE2227;
    border-right: 4px solid #EE2227;
}

.button-box{
    font-size: 15px;
    color: white;
    border: solid #ffffff 1px;
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #F94445;
}

.button-box2{
  font-size: 15px;
  color: white;
  border: solid #ffffff 1px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  background-color: #F41320;
}

.marg-text{
  color: black;
}
.marg{
  margin-top: 10px;
}

@media (max-width: 280px) {
  ul {
    margin: 1rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80px;
  }
  .cards {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .card {
    transform: scale(0.8);
    margin-bottom: 1rem;
  }
  .cards .card.active {
    transform: scale(0.8);
  }
}

@media (min-width: 280px) and (max-width: 320px) {
  ul {
    margin: 20px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 1rem;
  }
  .cards .card.active {
    transform: scale(1);
  }
}

@media (min-width: 320px) and (max-width: 414px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 1rem;
  }
  .cards .card.active {
    transform: scale(1);
  }
}
@media (min-width: 414px) and (max-width: 768px) {
  .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .cards .card.active {
    transform: scale(1);
  }
}
@media (min-width: 768px) and (max-width: 1046px) {
  .cards {
    display: flex;
  }
  .card {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .cards .card.active {
    transform: scale(1);
  }
}

/* -----------------------------------
    Main 5
----------------------------------- */

.main-5 {
    width: 100%;
    height: 65vh;
    display: flex;
    background: url(MaskGroup.png) center no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    flex-direction: column-reverse;
}

.main-5-info{
    width: 75vh;
    height: 45vh;
    background-color: white;
}

.main-5-text{
    margin-top: 5%;
    margin-left: 27%;
    margin-right: 10%;
}

.text-head2{
    font-family: poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 1.5;
}

.footer{
    width: 100%;
}

.footer-main{
    width: 100%;
    height: 35vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;

    justify-content: space-between;
}

.footer-container{
    display: flex;
}

.footer-box{
    width: 33%;
    height: 20vh;
}

.footer-box2 {
    width: 33%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
}

.footer-text{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 40%;
}

.left{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    flex-direction: column;
}

.links{
    text-decoration: none;
    color: black;
    padding: 0.5vh;
}





.custom-search {
    position: relative;
    width: 400px;
}
.custom-search-input {
    width: 100%;
    border: 1px solid white;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}
.custom-search-botton {
    position: absolute;
    right: 3px;     
    top: 3px;
    bottom: 3px;
    border: 0;
    background-color: #F41320;
    color: white;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    z-index: 2;
}

::placeholder {
    color: rgba(0, 0, 0, 0.24);
  }